.form-row {
  margin-top: 10px;
}

.form-row__button {
  width: 100%;
}

.row {
  margin: 0 0;
}
.form-check {
  background-color: #dcdcdc;
}
.form-check-label {
  color: #0abab5;
  line-height: normal;
}

.atSizeBig {
  font-size: 23px;
}
